/*
  style.css (central stylesheet)
  This file only imports smaller, focused CSS files.

  Keeping the game CSS compartmentalized makes it easier to navigate.
*/

@import url("./modules/tokens.css?v=20251219");
@import url("./modules/reset.css?v=20251219");
@import url("./modules/layout.css?v=20251219");
@import url("./modules/game.css?v=20251219");
@import url("./modules/ui.css?v=20251219");
@import url("./modules/obstacles.css?v=20251219");
@import url("./modules/animations.css?v=20251219");
@import url("./modules/responsive.css?v=20251219");
